.body {
    color: #00627A !important;
    font-family: "Poppins", sans-serif !important;
    margin-top: 350px;
}

a {
    color: #FB8FB1;
}

a:hover {
    color: #ffc7d9;
}


.container-nopadding {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 0px !important;
}

.site-section {
    border-radius: 25px;
}

.services {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.service-row {

}

.spacing {
    height: 0px;
}

.container-margins {
    margin-top: 20px !important;
}

.header-background {
    background-color: #ffc7d9;
    border-radius: 25px 25px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-l {
    font-family: "Paytone One", sans-serif !important;
}

.card-title{
    font-family: "Poppins", sans-serif !important;
}

.body-font {
    font-family: "Poppins", sans-serif !important;
}


body {
    background-color: #00627A;
}

.secondary-text-color {
    color: #FFFBFD;
}

.primary-text-color {
    color: #004F62;
}

.btn-primary {
    background-color: #D1FF57;
    border-color: #D1FF57;
    color: #00627A;
    box-shadow: 6px 6px #FB8FB1;
}

.service-card {
    border-width: 1px;
}

.service-card-footer {
}

.btn-secondary {
    background-color: #00627A;
    border-color: #D1FF57;
    color: #D1FF57;    
    box-shadow: 6px 6px #D1FF57;
}

.btn-primary:hover {
    background-color: #D1FF57;
    border-color: #D1FF57;
    color: #00627A;
    /*transform: translateX(1px);
    transform: translateY(1px);
    box-shadow: 5px 5px #FB8FB1;*/
    box-shadow: 0px 0px #FB8FB1;
}

.btn-secondary:hover {
    background-color: #00627A;
    border-color: #D1FF57;
    color: #D1FF57;    
    box-shadow: 0px 0px #D1FF57;
}

.bg-bright {
    background-color: #FB8FB1 !important;
}

.bg-primary {
    background-color: #00627A !important;
}

.bg-secondary {
    background-color: #FFFBFD !important;
}

.bg-dark {
    background-color: #004F62 !important;
}

.navbar-space {
    padding-top: 30px;
}